---
layout: default
title: Blog
tagline: My thoughts on...
permalink: /blog/
---

<section>
	{% for post in site.posts %}
		<article class="blog-post clearfix">
			<h3><a href="{{ post.url }}">{{ post.title }}</a>
				<i>{{ post.date | date: "%b %-d, %Y" }}</i>
			</h3>
			<p>{{ post.excerpt }}</p>
		</article>
	{% endfor %}
</article>
