---
layout: default
tagline: Student Electronics-ICT & Software Engineer
index: true
---
<article>
	<p>
<h2>Greetings!</h2>
	I'm Ronan L. Van Der Veken (he/him/his), a student Electronics/ICT from Belgium.
	This is the place of the internet where I (will) write on mostly technical
	subjects.
	</p>
</article>
