<footer class="footer">
	{% if page.olives %}
		<p><a href="http://www.flaticon.com/free-icon/olive-branches-award-symbol_47904">
		Olive branches award symbol</a> by
		<a href="http://www.flaticon.com/authors/freepik">Freepik</a>
		is licensed under
		<a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>
		</p>
	{% endif %}
	<!-- <p> -->
	<!--   <a href="ronanvanderveken.pgp.asc"> -->
	<!--     <abbr title="AE20 E937 80F2 F0CF 1A11 EEA8 716F 847A 5F75 6F9C">0x5F756F9C</abbr> -->
	<!--     (PGP) -->
	<!--   </a> -->
	<!-- </p> -->
	<!-- <p>Subscribe to blog <a href="feed.xml">via RSS</a></p> -->
</footer>

<div class="hidden" itemscope itemtype="http://schema.org/Person">
	<span itemprop="gender">Male</span>
	<span itemprop="givenName">Ronan</span>
	<span itemprop="familyName">Van Der Veken</span>
	<span itemprop="name">Ronan Van Der Veken</span>
	<span itemprop="additionalName">Leon</span>
	<span itemprop="birthDate">1999-09-17</span>
</div>
<script src="js/hyphenate.js" async></script>
