<header class="header">
	<nav>
		<div class="links">
			{% assign current = nil %}
			{% if page.url == "/" %}
			{% assign current = 'active' %}
			{% endif %}
			<a class="{{ current }}" href="/">About</a>
			{% for my_page in site.pages %}
			{% if my_page.title %}
			{% assign current = nil %}
			{% if page.url == my_page.url %}
			{% assign current = 'active' %}
			{% endif %}
			{% if my_page.title != "Webdev" or current == "active" %}
			<a class="{{ current }}" href="{{ my_page.url }}">{{ my_page.title }}</a>
			{% endif %}
			{% endif %}
			{% endfor %}
			<!-- <a class="" href="cv/">Resumé</a> -->
		</div>
		<!--<div class="contact">-->
			<!--<a href="mailto:address@example.com">-->
				<!--<img class="icon" src="gfx/email.svg" alt="Email" />-->
			<!--</a>-->
		<!--</div>-->
	</nav>
	
	{% if page.index %}
	<h1>{{ site.title | escape }}</h1>
	{% endif %}
	{% if page.tagline %}
	<h2>{{ page.tagline | escape }}</h2>
	{% endif %}
</header>
