---
layout: default
---
<article itemscope itemtype="http://schema.org/BlogPosting" class="blog-post">
	<header>
		<span class="shared">
			Posted on <span itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</span>
			{% if page.shared %}
				&mdash; shared on
				{% for share in page.shared %}
					<a href="{{ share[1] }}">{{ share[0] }}</a>
				{% endfor %}
			{% endif %}
		</span>
	</header>
	<div itemprop="articleBody" class="hyphenate">
		{{ content }}
	</div>
	<script>
		document.querySelectorAll('.blog-post > div').forEach(function(bp) {
			bp.querySelectorAll('h1,h2,h3,h4').forEach(function(h) {
				if (h.id && !h.querySelector('a')) {
					var text = h.textContent;
					var a = document.createElement('a');
					var url = new URL(location.href);
					url.hash = h.id;
					a.href = url.href;
					a.textContent = text;
					h.innerHTML = '';
					h.appendChild(a);
					h.classList.add('anchor');
				}
			})
		})
	</script>
</article>
